{% extends "layout.html" %}

{% block content %}

<!--<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div> -->

<div id="panel">
    

    <!--<div class="col-md-6">
        <img id="imgbox" alt="Image Coming" />
    </div> -->
    
    <div id="buttonContainer">
        <div id="top-button-bar">
            <button class="btn btn-default" id="btnAvanti">Avanti</button>
        </div>
        <div id="center-button-bar">
                <button class="btn btn-default" id="btnSinistra" style="float:left">Sinistra</button>
                <button class="btn btn-default" id="btnStop">STOP</button>              
                <button class="btn btn-default" id="btnDestra" style="float:right;">Destra</button>
        </div>
        <div id="bottom-button-bar">
            <button class="btn btn-default" id="btnIndietro">Indietro</button>
        </div>
    </div>

    
</div>

    {% endblock %}
